# Certificate of AWS IoT
/aws-iot/aws-iot-device-sdk-examples/certs/*.crt
/aws-iot/aws-iot-device-sdk-examples/certs/*.pem
/aws-iot/aws-iot-device-sdk-examples/certs/*.key
/aws-iot/aws-iot-device-sdk-examples/python/*_test.yml
